.delete, .edit{
    border: 1px solid;
  
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
    width: 70px;
    text-align: center;
}
.delete{
      background-color: red;
      color: white;
}
.edit{
      background-color: white;
}